{% extends 'base.html' %}


{% block title %}
    File-uploader
{% endblock %}


{% block body %}
	<h1 style="margin-bottom: 2em; text-align: center">Страница загрузки файла</h1>

    <div class="content-block">
    <form action="/" method="post" enctype="multipart/form-data" class="rounded-box" id="form">
            <input type="file" name="file" id="fileInput" onchange="updateFileName()">
            <span class="input-file-text" id="fileName">Файл не загружен</span>
        <p>
            <img id="preview" alt="Картинка">
        </p>
        <input type="submit" value="Отправить" id="submit-btn">
    </form>
</div>


    <script>
        function updateFileName() {
            const fileInput = document.getElementById('fileInput');
            const fileNameSpan = document.getElementById('fileName');

            if (fileInput.files.length > 0) {
                fileNameSpan.textContent = 'Загружен файл: ' + fileInput.files[0].name;
            } else {
                fileNameSpan.textContent = 'Файл не загружен';
            }
        }

        const fileInput = document.getElementById('file');
        const imagePreview = document.getElementById('preview');
        const submitButton = document.getElementById('submit-btn');

        fileInput.addEventListener('change', function() {
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                    submitButton.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });
    </script>

{% endblock %}