{% extends 'base.html' %}


{% block title %}
    File-uploader
{% endblock %}


{% block body %}
	<h1 style="margin-bottom: 2em; margin-top: 2em; text-align: center">Страница загрузки файла</h1>

    <div class="container content-block">
        <form class="upload-form" method="post" enctype="multipart/form-data" id="form">
            <h2 >Загрузка изображения</h2>
            <div class="input__wrapper">
               <input name="file" type="file" id="input__file" class="input input__file" required>
               <label for="input__file" class="input__file-button">
                   <span class="input__file-icon-wrapper"><img class="input__file-icon" src="{{ url_for('static', filename='img.png', v='1') }}" alt="Выбрать файл" width="25"></span>
               </label>
            </div>
            <div class="image-preview"></div>
            <button type="submit" formaction="/res">Классический скан</button>
            <button type="submit" formaction="/full_res">Расширенный скан</button>
        </form>
    </div>

    <script>
      const imageInput = document.querySelector('#input__file');
      const imagePreview = document.querySelector('.image-preview');

      imageInput.addEventListener('change', function() {
        const file = this.files[0];
        const reader = new FileReader();

        reader.addEventListener('load', function() {
          const img = document.createElement('img');
          img.src = reader.result;
          imagePreview.innerHTML = '';
          imagePreview.appendChild(img);
        });

        reader.readAsDataURL(file);
      });
    </script>

{% endblock %}