body {
    margin: 0;
    padding: 0 20%;
    font-family: Arial, sans-serif;
}

header {
    color: #333;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    color: coral;
}

.content-block {
    background-color: #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

form {
    margin: 0 auto;
    max-width: 300px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

input[type="file"] {
    background-color: coral;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label {
    background-color: coral;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[type="file"]::file-selector-button {
    color: #fff;
}

#submit-btn {
    display: none;
}