.content-block {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

.input-file-btn, #submit-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s;
}

.input-file-btn:hover, #submit-btn:hover {
    color: orange;
}